<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="/hobby" method="post" style="margin-right: 20px;">-->
<!--    <h3>Get 전송 prac</h3>-->
<!--    이름 : <input type="text" name="name">-->
<!--    나이 : <input type="text" name="age">-->
<!--    핸드폰번호 <input type="number" name="phone">-->
<!--    관심사 <input type="radio" name="hobby" value="여행"> 여행 <input type="radio" name="hobby" value="패션"> 패션-->
<!--    <br>-->
<!--    <button type="submit">Get 전송</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->